.wrapper {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;

    /* .active {
        background: linear-graient(35deg, 494949, #313131);
        color: white;
    }

    h2 {
        margin-bottom: 2rem;
    }

    li {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    ul {
        margin-top: 2 rem;
    }

    img {
        margin-right: 10rem;
        border: solid #B9CFE6;
        border-radius: 15%;
        width: 25rem
    } */
}

.info {
    margin-left: 10rem;
    font-size: 1.2rem;
}